html
  head
    title='Pluralsight Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
<<<<<<< HEAD
        h1 Hell Bilton how are you !!!
	
=======
        h1 Hello Bilton !!!
>>>>>>> 4d99a91f7ff8b45c276edbf4b51e7db9169f3918
        p Click the button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p
